$color-pack: false;

@import "~vuetify/src/styles/main.sass";
@import "./fonts.scss";
@import "~@mdi/font/css/materialdesignicons.min.css";

* {
  font-family: "Open Sans", sans-serif;
}

.sm {
  width: 6em;
}

.white-text {
  color: white;
}

@media (max-width: 516px) {
  .morePadding {
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
}

@media (max-width: 425px) {
  .minimizedText {
    font-size: 1rem !important;
  }
}
