$color-pack: false;

@import "~@mdi/font/css/materialdesignicons.min.css";
@import "~vuetify/src/styles/main.sass";

* {
  font-family: "Roboto", "Arial" !important;
  font-display: swap !important;
}

.sm {
  width: 6em;
}

.white-text {
  color: white;
}

@media (max-width: 516px) {
  .morePadding {
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
}

@media (max-width: 425px) {
  .minimizedText {
    font-size: 1rem !important;
  }
}
